{% macro config_upstream(upstream, shard=None) %}
upstream {{ upstream.name }}{% if shard %}_{{ shard }}{% endif %} {
{% if upstream.enable_sso_proxy | default(False) %}
{#
        Talk directly to the SSO proxy on localhost.
#}
        server 127.0.0.1:5003;
{% else %}
{#
        Use the internal endpoint name, which resolves to multiple IP
        addresses on the right interface (depending on whether we are in
        the same network overlay or not).
#}
        server {% if shard %}{{ shard }}.{% endif %}{{ upstream.service_name }}.{{ domain }}:{{ upstream.port }};
{% endif %}

	keepalive 8;
{% if float_debian_dist != 'buster' %}
        keepalive_timeout 300s;
        keepalive_requests 1000;
{% endif %}
}
{% endmacro %}


{% for upstream in float_http_upstreams.values() | sort(attribute='service_name') %}
{% if upstream.sharded %}
{% for h in services[upstream.service_name].hosts|sort %}
{{ config_upstream(upstream, hostvars[h]['shard_id']) }}
{% endfor %}
{% else %}
{{ config_upstream(upstream) }}
{% endif %}
{% endfor %}
