# Package generated configuration file
# See the sshd_config(5) manpage for details

Port {{ ssh_port }}
AddressFamily any

# HostKeys for protocol version 2
{% for key_type in ssh_host_key_types %}
HostKey /etc/ssh/ssh_host_{{ key_type }}_key
HostCertificate /etc/ssh/ssh_host_{{ key_type }}_key-cert.pub
{% endfor %}

# Logging. VERBOSE logs the fingerprint of keys used to login.
SyslogFacility AUTH
LogLevel VERBOSE

# Authentication:
StrictModes yes
AuthorizedKeysFile /etc/ssh/authorized_keys/%u
PermitRootLogin prohibit-password
PermitEmptyPasswords no
PubkeyAuthentication yes
UsePAM yes

# Allow more attempts for people with many keys in their agent.
MaxAuthTries 10

# Disable a bunch of features.
IgnoreRhosts yes
HostbasedAuthentication no
ChallengeResponseAuthentication no
PasswordAuthentication no
UseDNS no

# Makes ansible faster?
PrintMotd no
PrintLastLog yes

# Keep connections alive.
TCPKeepAlive yes
ClientAliveInterval 120

# Fuck LANG.
#AcceptEnv LANG LC_*

# Be restrictive on forwarding / proxying.

# Disable agent forwarding for the clients' safety.
AllowAgentForwarding no

# Reverse forwarding can lead to security issues due to manipulating
# the network perimeter.
AllowTcpForwarding local
AllowStreamLocalForwarding local
PermitListen none

Subsystem sftp /usr/lib/openssh/sftp-server

