[Unit]
Description=Prometheus exporter for MySQL server (%I)

[Service]
Restart=always
User=prometheus
ExecStart=/usr/bin/prometheus-mysqld-exporter --web.listen-address {{ mariadb_metrics_address }}:{{ mariadb_metrics_port }} --config.my-cnf {{ mariadb_metrics_config }} --no-collect.info_schema.tables --no-collect.info_schema.tablestats

[Install]
WantedBy=multi-user.target
