[Unit]
Description=Set up ip routes for sslh
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sslh-iproute

[Install]
WantedBy=multi-user.target

