global
        maxconn 20000
        user haproxy
        group haproxy
        chroot /var/lib/haproxy
        daemon
        # use journald-compatibile short format, and don't send 'emerg' level out
        # http://cbonte.github.io/haproxy-dconv/2.2/configuration.html#3.1-log
        log stdout format short local4 info alert
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners

defaults
        log global
        mode tcp
        option redispatch
        option tcplog
        option tcpka
        option clitcpka
        option srvtcpka
        option dontlognull
        retries 3
        timeout connect 10s
        timeout client 1440m
        timeout server 1440m

frontend stats
        bind :::8404
        mode http
{% if float_debian_dist in ('buster', 'bullseye') %}
        option http-use-htx
{% endif %}
        http-request use-service prometheus-exporter if { path /metrics }
        stats enable
        stats uri /stats
        stats refresh 10s

{% for service_name, service in services|dictsort %}
{% for ep in service.get('public_tcp_endpoints', []) %}

{% if ep.get('ports', []) %}

{% for port in ep.ports %}
{% set internal = port.internal | default(port) %}
{% set public = port.public | default(port) %}
frontend fe_{{ service_name }}_{{ ep.name }}_{{ public }}
        bind :::{{ public }}
        default_backend be_{{ service_name }}_{{ ep.name }}_{{ internal }}

backend be_{{ service_name }}_{{ ep.name }}_{{ internal }}
        log global
        balance leastconn
        option independent-streams
{% for s in services[service_name].hosts|sort %}
        server task{{ loop.index -1 }} {{ s }}.{{ service_name }}.{{ domain }}:{{ internal }} check fall 3 id {{ loop.index + 999 }} inter 5000 rise 3 slowstart 60000 weight 50{% if ep.get('use_proxy_protocol') %} send-proxy-v2{% endif %}

{% endfor %}

{% endfor %}

{% else %}
{% set public_port = ep.public_port | default(ep.port) %}
frontend fe_{{ service_name }}_{{ ep.name }}_{{ public_port }}
        bind :::{{ public_port }}
        default_backend be_{{ service_name }}_{{ ep.name }}_{{ ep.port }}

backend be_{{ service_name }}_{{ ep.name }}_{{ ep.port }}
        log global
        balance leastconn
        option independent-streams
{% for s in services[service_name].hosts|sort %}
        server task{{ loop.index -1 }} {{ s }}.{{ service_name }}.{{ domain }}:{{ ep.port }} check fall 3 id {{ loop.index + 999 }} inter 5000 rise 3 slowstart 60000 weight 50{% if ep.get('use_proxy_protocol') %} send-proxy-v2{% endif %}

{% endfor %}

{% endif %}

{% endfor %}
{% endfor %}
