#!/bin/sh

/bin/ip addr show dev {{ ansible_default_ipv4.interface }} | grep -q 'inet {{ egress_ip }}/' ||
  /bin/ip addr add {{ egress_ip }} dev {{ ansible_default_ipv4.interface }}

EXITCODE=$?
if [ $EXITCODE != 0 ]; then
  exit $EXITCODE
fi
