mode server
tls-server
port 1194
ca /etc/leap/ca/leap_ca_bundle.crt
cert /etc/credentials/sspki/openvpn/cert.pem
key /etc/credentials/sspki/openvpn/private.key
dh /etc/leap/keys/dh.pem
cipher AES-256-GCM
tls-version-min 1.2
dev tun
duplicate-cn
keepalive 10 30
mute-replay-warnings
mute 5
proto udp6
push "dhcp-option DNS {{ openvpn_network | ipaddr('1') | ipaddr('address') }}"
push "redirect-gateway def1 ipv6"
push "route-ipv6 2000::/3"
push "block-outside-dns"
server {{ openvpn_network | ipaddr('network') }} {{ openvpn_network | ipaddr('netmask') }}
server-ipv6 {{ openvpn_network6 }}
status /tmp/openvpn-status-udp 10
status-version 3
tcp-nodelay
verify-x509-name "CN=UNLIMITED"
topology subnet
verb 3
