[Unit]
Description=Backup Agent
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/tabacco agent
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
User=root
Group=tabacco
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
