db_uri: /var/lib/assetmon/assets.db
http_server:
  request_timeout: 30
  tls:
    cert: "/etc/credentials/x509/assetmon/server/cert.pem"
    key: "/etc/credentials/x509/assetmon/server/private_key.pem"
    ca: "/etc/credentials/x509/assetmon/ca.pem"
    acl:
      allow:
        - path: "/api/v1/.*"
          cn: "assetmon-client.{{ domain }}"
        - path: "/(|image)$"
          cn: ".*"
