upstream api {
{% for h in groups['vpnweb']|sort %}
  server {{ hostvars[h].shard_id }}.api.{{ domain }}:8000;
{% endfor %}
}

server {
  listen [::]:443 ssl http2;
  server_name api.{{ domain }};
  ssl_certificate /etc/credentials/public/vpnweb/api/fullchain.crt;
  ssl_certificate_key /etc/credentials/public/vpnweb/api/private.key;

  location /provider.json {
    proxy_pass http://api;
    proxy_set_header Host $host;
    proxy_cache global;
    expires 1d;
  }

  location /ca.crt {
    proxy_pass http://api;
    proxy_set_header Host $host;
    proxy_cache global;
    expires 1d;
  }
}

server {
  listen [::]:4430 ssl http2;
  server_name api.{{ domain }};
  ssl_certificate /etc/credentials/public/api.{{ domain }}/fullchain.crt;
  ssl_certificate_key /etc/credentials/public/api.{{ domain }}/leap.pem;

  location /3/ {
    proxy_pass http://api;
    proxy_set_header Host $host;
    proxy_cache global;
    expires 1d;
  }

  location /1/ {
    proxy_pass http://api;
    proxy_set_header Host $host;
    proxy_cache global;
    expires 1d;
  }

  location /provider.json {
    proxy_pass http://api;
    proxy_set_header Host $host;
    proxy_cache global;
    expires 1d;
  }

  location /ca.crt {
    proxy_pass http://api;
    proxy_set_header Host $host;
    proxy_cache global;
    expires 1d;
  }
}
