{% for service_name, service in services | dictsort %}
{% for ep in service.get('public_tcp_endpoints', []) %}
{% if ep.get('ports', []) %}
{% for port in ep.ports %}
{% set public = port.public | default(port) %}
allow_port tcp {{ public }}
{% endfor %}
{% else %}
allow_port tcp {{ ep.public_port | default(ep.port) }}
{% endif %}
{% endfor %}
{% endfor %}
