upstream be_openvpn {
{% for host in groups['vpnweb']|sort %}
  server http://{{ host }}.vpnweb.{{ domain }}:{{ services['vpnweb'].public_endpoints[0].port }};
{% endfor %}
}

server {
  listen [::]:4430 ssl http2;
  
  server_name {{ provider_config.api_uri }};
  ssl_certificate /etc/credentials/sspki/vpnweb/fullchain.crt;
  ssl_certificate_key /etc/credentials/sspki/vpnweb/private.key;

  include /etc/nginx/snippets/site-common.conf;

  location / {
          include /etc/nginx/snippets/block.conf;
          include /etc/nginx/snippets/proxy.conf;
          proxy_pass http://be_openvpn;
          proxy_cache global;
  }
}
