/var/log/remote/*/*.log {
	daily
	missingok
	rotate {{ log_collector_retention_days|default(15) }}
	compress
	compresscmd /usr/bin/zstd
	compressoptions -9
	compressext .zstd
	notifempty
	create 0600 docker-log-collector adm
	sharedscripts

	postrotate
		kill -HUP `cat /var/run/rsyslog-collector/rsyslogd.pid`
	endscript
}

