domain: "{{ domain }}"
public_domain: "{{ domain_public[0] }}"
http_server:
  tls:
    cert: "/etc/credentials/x509/admin-dashboard/server/cert.pem"
    key: "/etc/credentials/x509/admin-dashboard/server/private_key.pem"
    ca: "/etc/credentials/x509/admin-dashboard/ca.pem"
    acl:
      allow:
        - path: ".*"
          cn: "ssoproxy.{{ domain }}"
