net.listen('{{ openvpn_network | ipaddr('1') | ipaddr('address') }}', 53, { kind = 'dns' })
net.listen('{{ ip }}', 8453, { kind = 'webmgmt' })

-- Load Useful modules
modules = {
	'stats',    -- Track internal statistics
	'http',
}

cache.size = 400 * MB

http.config({ geoip = '/var/lib/GeoIP/GeoLite2-Country.mmdb', })
