{# Generate static targets for hosts in a float service #}
{% macro targets_for_service(service_name, port) %}
      - targets:
{% for host in services[service_name].hosts|sort %}
          - "{{ host }}.{{ service_name }}.{{ domain }}:{{ port }}"
{% endfor %}
{% endmacro %}


global:
  scrape_interval: "{{ prometheus_lts_scrape_interval }}"

  # Set an external label unique to this host, but remove it
  # from the generated alerts so that they match across all
  # Prometheus instances.
  external_labels:
    monitor: "{{ inventory_hostname }}-lts"

alerting:
  alert_relabel_configs:
    - regex: monitor
      action: labeldrop
  alertmanagers:
    - static_configs:
{{ targets_for_service('prometheus', 9093) }}

scrape_configs:
  - job_name: "prometheus-federation"
    honor_labels: true
    metrics_path: '/federate'
    params:
      'match[]':
        - '{__name__=~".+"}'
    metric_relabel_configs:
      # Drop replica label 'monitor' to get unique metrics
      - action: labeldrop
        regex: monitor
      # Drop label 'job' when the metric doesn't have one (i.e.
      # job=prometheus-federation)
      - action: replace
        source_labels: ['job']
        regex: 'prometheus-federation'
        replacement: ''
        target_label: 'job'
      # Drop high cardinality metrics
{% for metric in prometheus_lts_drop_metrics|sort %}
      - source_labels: ['__name__']
        regex: "{{ metric }}"
        action: drop
{% endfor %}
    static_configs:
      - targets:
          - "prometheus.{{ domain }}:9090"

rule_files:
  - /etc/prometheus-lts/rules/*.yml

