[Unit]
Description={{ item.service }}/{{ item.container.name }}
{% if container_runtime == 'docker' %}
After=docker.service
Requires=docker.service
{% endif %}

[Service]
EnvironmentFile=-/etc/default/{{ item.service }}-{{ item.container.name }}
ExecStart=/usr/lib/float/docker/run-{{ item.service }}-{{ item.container.name }}.sh
ExecStop=/usr/bin/docker stop {{ item.service }}-{{ item.container.name }}
TimeoutStopSec=60
KillMode=none
Restart=always
RestartSec=3s
Type=simple
SyslogIdentifier={{ item.service }}-{{ item.container.name }}

{% if item.container.resources is defined %}
{% if item.container.resources.ram is defined %}
MemoryHigh={{ item.container.resources.ram }}
{% endif %}
{% if item.container.resources.cpu is defined %}
CPUQuota={{ 100 * item.container.resources.cpu }}%
{% endif %}
{% endif %}
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target {{ 'docker.service' if container_runtime == 'docker' else '' }}
Alias={{ item.service }}-{{ item.container.name }}
