{% for item in float_enabled_containers if item.container.resources is defined %}
container_cpu_limit{service="docker-{{ item.tag }}.service"} {{ item.container.resources.cpu | default('0') }}
container_memory_limit{service="docker-{{ item.tag }}.service"} {{ item.container.resources.ram | default('0') | human_to_bytes }}
{% endfor %}
