#!/bin/bash
# Start the {{ tag }} container.

opts=( {{ container_options | map('quote') | join(' ') }} )

# Optionally mount the OpenCensus tracing config in the container.
if [ -d /etc/tracing ]; then
  opts+=("--mount=type=bind,source=/etc/tracing,destination=/etc/tracing")
fi

{% if not container.get('root') %}
# Run as unprivileged user.
container_uid=$(id -u {{ service_user }})
container_gid=$(id -g {{ service_user }})
opts+=("--user=$container_uid:$container_gid")
# Add additional groups that the user is a member of.
for gid in $(id -G {{ service_user }}); do
    if [ $gid -ne $container_gid ]; then
        opts+=("--group-add=$gid")
    fi
done
{% endif %}

{% if container_runtime == 'podman' %}
exec /usr/bin/podman run \
{% if float_debian_dist in ('buster', 'bullseye') %}
  --log-driver=none \
{% else %}
  -d --log-driver=journald \
{% endif %}
  --cgroups=disabled \
  --replace \
  --sdnotify=conmon \
{% elif container_runtime == 'docker' %}
exec /usr/bin/systemd-docker --env run \
  --log-driver=none \
{% endif %}
  --rm --name {{ tag }} \
  --pull=never \
  --no-healthcheck \
  "${opts[@]}" \
  "$@" \
  {{ container.image }} {{ container.get('args', '') }}
