{# Generate static targets for hosts in a float service #}
{% macro targets_for_service(service_name, port) %}
      - targets:
{% for host in services[service_name].hosts|sort %}
          - "{{ host }}.{{ service_name }}.{{ domain }}:{{ port }}"
{% endfor %}
{% endmacro %}

{{ targets_for_service('prometheus-lts', 10911) }}
